body
{
	background: #D4A2A2;
	font-family: sans-serif;
}
.zero
{
	text-decoration: underline;
}
.nine
{
	background-color: white;
	border-style: dashed;
	border-width: 3px;
	width: 460px;
}
.blue
{
	color: blue;
}
.red
{
	color: red;
}